A simple Dictonary

In [2]:
dctry1 = {
          "Name": "Abc",
          "Category": "5a",
          "No": 1456
         }
print(dctry1)

{'Name': 'Abc', 'Category': '5a', 'No': 1456}

Dictionary is changeable

In [3]:
# print(dctry1[0])

print(dctry1["Name"])
dctry1["No"] = 123
dctry1

Abc

{'Category': '5a', 'Name': 'Abc', 'No': 123}

Dictonary can have multiple datatypes

In [7]:
print(type(dctry1))

for x in dctry1:
  print(x + ": " +str(dctry1[x]) +"  (" + str(type(dctry1[x])) + ")")

<class 'dict'>
Name: Abc  (<class 'str'>)
Category: 5a  (<class 'str'>)
No: 123  (<class 'int'>)

Nested Dictonary

In [8]:
dctry2 = {0:10, 1:"a",2: 11, 3: True, "4":False}

Nstdctry = {
              "Dct1": dctry1,
              "Dct2": dctry2
           }

print(Nstdctry)
print(Nstdctry["Dct1"])
print(Nstdctry["Dct2"]["4"])

{'Dct1': {'Name': 'Abc', 'Category': '5a', 'No': 123}, 'Dct2': {0: 10, 1: 'a', 2: 11, 3: True, '4': False}}
{'Name': 'Abc', 'Category': '5a', 'No': 123}
False

Removing items from Dictonary

In [9]:
del dctry2[2]
print(dctry2)
print(dctry2.pop("4"))

dctry2.clear()


print(dctry2)

{0: 10, 1: 'a', 3: True, '4': False}
False
{}