Set

Set have no duplicate element and is undordered

In [ ]:
set1 = { "ABC", 10, True, 1.1, 10 }
print(set1)

Set is unchangeable

In [ ]:
# set[1]

Set can have multiple data type

In [ ]:
print(type(set1))
for x in set1:
  print(str(x)+ ": " + str(type(x)))

Set Operations

In [ ]:
# Adding
set1.add("X")
set1.add(False)
set1

In [ ]:
# Union
set2 = { 1,2,3,4,6,10,8,0 }
print("set1: "+ str(set1))
print("set2: "+ str(set2))

set3 = set1 | set2
print("set3: "+ str(set3))

In [ ]:
# Intersection
set3 = set3 & set1 
print("set3: "+ str(set3))

In [ ]:
# Difference
set4 = set3 - {False, True}
print("set4: "+ str(set4))

In [ ]:
# Clear data
set1.clear()
set2.clear()
set3.clear()


print(set1)
print(set2)
print(set3)
print(set4)